.Foot{
    position: absolute;
width: 1440px;
height: 1196px;
left: 0px;
top: 2055px;
background: #003145;
}
.card1{
    position: absolute;
width: 354px;
height: 473px;
left: 134px;
top: 95px;

background: #FFFFFF;
/* hubshadow */

box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.08);
border-radius: 15px;
}

.card2{
    position: absolute;
width: 354px;
height: 473px;
left: 543px;
top: 95px;

background: #FFFFFF;
/* hubshadow */

box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.08);
border-radius: 15px;
}
.card3{

    position: absolute;
    width: 354px;
    height: 473px;
    left: 952px;
    top: 95px;
    
    background: #FFFFFF;
    /* hubshadow */
    
    box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

.card4{
    position: absolute;
    width: 354px;
    height: 473px;
    left: 134px;
    top: 598px;
    
    background: #FFFFFF;
    /* hubshadow */
    
    box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}
.card5{
    position: absolute;
width: 354px;
height: 473px;
left: 543px;
top: 598px;

background: #FFFFFF;
/* hubshadow */

box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.08);
border-radius: 15px;
}

.card6{
    position: absolute;
width: 354px;
height: 473px;
left: 952px;
top: 598px;

background: #FFFFFF;
/* hubshadow */

box-shadow: 0px 4px 43px rgba(0, 0, 0, 0.08);
border-radius: 15px;

}
.c1{
    position: absolute;
width: 354px;
height: 174px;
left: 0px;
top: 0px;
background: rgba(0, 0, 0, 0.3);
background-image: url(../assets/cardimage/card1.png);
}

.b{
    position: absolute;
width: 182.55px;
height: 42px;
left: 86px;
top: 404px;
background: #44924C;
border-radius: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
color: #FFFFFF;
}

.c2{
    position: absolute;
width: 354px;
height: 174px;
left: 0px;
top: 0px;
background: rgba(0, 0, 0, 0.3);
background-image: url(../assets/cardimage/card2.png);

}

.c3{
    position: absolute;
    width: 354px;
    height: 174px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.3);
    background-image: url(../assets/cardimage/card3.png);
}

.c4{
    position: absolute;
width: 354px;
height: 174px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.3);
background-image: url(../assets/cardimage/card4.png);

}

.c5{
    position: absolute;
width: 354px;
height: 174px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.3);
background-image: url(../assets/cardimage/card5.png);

}

.c6{
    position: absolute;
width: 354px;
height: 174px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.3);
background-image: url(../assets/cardimage/card6.png);

}

.headBox{
    position: absolute;
width: 246px;
height: 44px;
left: 54px;
top: 239px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* or 162% */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.warning{
    position: absolute;
width: 142px;
height: 13px;
left: 106px;
top: 309px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;
/* or 100% */

text-align: center;

color: #444444;
    
}

.time{
    position: absolute;
width: 126.07px;
height: 29.92px;
left: 114px;
top: 330px;

font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
text-align: center;

}
.days{
    position: absolute;
width: 128.77px;
height: 10px;
left: 111px;
top: 362px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 10px;
/* identical to box height, or 100% */

text-align: center;

/* Gray 2 */

color: #4F4F4F;

}