.Navbar{
    height: 64px;
width: 1441px;
left: 0px;
top: 0px;
border-radius: 0px;
background-color: white;
}

.logo{
    position: absolute;
    height: 38.10743713378906px;
    width: 87px;
    left: 89px;
    top: 13px;
    border-radius: 0px;
    
}